




<div class="container my-5">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="row">
				<div >
				<img src= "./assets/image/International_Pokémon_logo.png" class="img-fluid" alt="">

				</div>
                <div
                class="col-md-6"
                *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10 ,currentPage: page, totalItems: totalPokemons} " >
                    <div class="card mb-3 bg-{{getType(pokemon)}}" >
                        <div class="card-body">
                            <div class="row" >
                                <div class="col-7 col-sm-8">
                                    <h3 class="card-title">{{pokemon.name | titlecase}}</h3>
                                    <span *ngFor="let type of pokemon.types"
                                        class="badge border rounded-pill me-1 bg-{{getType(pokemon)}}">
                                        {{type.type.name | titlecase}}
                                    </span>
                                </div>
                                <div class="col-5 col-sm-4">
                                    <img [src]="pokemon.sprites.front_default"
                                        class="img-fluid" alt="Pokemon">
                                </div>
                                <div  [routerLink]="['/pokemon', pokemon.name]">
                                    <button  class="black border rounded-pill ">read more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button *ngIf="hasMorePages()" class="load-more" (click)="loadMore()">Load More</button>
    </div>
</div>

<!-- <pagination-controls (pageChange)="pageChange($event)"></pagination-controls> -->
<!-- <pagination-controls 
  (pageChange)="pageChange($event)" 
  previousLabel="" 
  nextLabel=""
></pagination-controls> -->
